In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

print("Environment ready!")

# Create a dummy DataFrame
df = pd.DataFrame({
    'transaction_amount': [100, 250, 175, 400],
    'customer_age': [25, 45, 35, 50]
})

df.head()

Environment ready!

   transaction_amount  customer_age
0                 100            25
1                 250            45
2                 175            35
3                 400            50